<%include header.ejs%>
<div class="container">
    <div class="row">
        <h1 class="page-header text-center">Edit Profile</h1>

        <% include menu.ejs%>
    </div>
    <div class="row panel-group">
        <div class="col-md-push-3 col-md-6 col-xs-12">
            <form class="panel" method="post" action="/profile/edit">
                <div class="form-group">
                    <img src="<%= profile.image %>" class="panel-body img-responsive center-block">
                    <label for="image">New image URL</label>
                    <input type="text" id="image" name="image" value="<%= profile.image %>" class="form-control">
                </div>
                <div class="form-group">
                    <label for="name">Username</label>
                    <input type="text" id="name" value="<%= profile.username %>" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="<%= profile.email %>" class="form-control">
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" id="age" name="age" value="<%= profile.age %>" min="1" step="1" class="form-control">
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-sm btn-success"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
                    <a href="/profile" class="btn btn-sm btn-warning">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<%include footer.ejs%>