<%include header.ejs%>
<div class="container">
    <div class="row">
        <h1 class="page-header text-center"><%= trex.name %></h1>

        <%include menu.ejs%>
    </div>
    <div class="row panel-group">
        <div class="panel-body col-xs-12">
            <table class="table">
                <tr>
                    <td style="width: 400px;">
                        <img src="<%= trex.image %>" style="max-width: 400px;">
                    </td>
                    <td>
                        <div>
                            <h4>Name</h4>
                            <div><%= trex.name %></div>
                        </div>
                        <div>
                            <h4>Sex</h4>
                            <div><%= trex.sex %></div>
                        </div>
                        <div>
                            <h4>Age</h4>
                            <div><%= trex.age %> years </div>
                        </div>
                        <div>
                            <h4>Size</h4>
                            <div><%= trex.size %> m </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row panel-group text-center">
        <div>
            <table style="margin: 0 auto;">
                <tr>
                    <th>
                        <a style="margin-right: 10px;" href="/myfarm/<%= trex.id %>/edit" class="btn btn-sm btn-primary">Edit</a>
                    </th>
                    <th>
                        <form method="post" action="/myfarm/<%= trex._id %>/delete">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>

<%include footer.ejs%>